@font-face {
    font-family: 'Quicksand', sans-serif;
    src: url("../fonts/Quicksand-Regular.woff2") format("woff2"), /* Modern Browsers */
        url("../fonts/Quicksand-Regular.woff") format("woff"), /* Modern Browsers */
        url("../fonts/Quicksand-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Quicksand', sans-serif;
    src: url("../fonts/Quicksand-Medium.woff2") format("woff2"), /* Modern Browsers */
        url("../fonts/Quicksand-Medium.woff") format("woff"), /* Modern Browsers */
        url("../fonts/Quicksand-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Quicksand', sans-serif;
    src: url("../fonts/Quicksand-Bold.woff2") format("woff2"), /* Modern Browsers */
        url("../fonts/Quicksand-Bold.woff") format("woff"), /* Modern Browsers */
        url("../fonts/Quicksand-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
